:root {
  --header-bg-color: #bd6e1b;
  --primary-color: #0a69c2;
  --primary-hover-color: #43a047;
  --secondary-color: #f9f9f9;
  --message-bg-bot: #f3f3f3fd;
  --message-bg-user: #0a69c2;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
