:root {
  --header-bg-color: #ffebd6;
  --primary-color: #4caf50;
  --primary-hover-color: #43a047;
  --secondary-color: #f9f9f9;
  --message-bg-bot: #e0e0e0;
  --message-bg-user: #4caf50;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
